.header {
   padding: 33px 0 70px;
}
.nav {
   float: right;
}
.nav__link {
   margin-left: 58px;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   text-decoration: none;
   color: #121212;
}
.nav__link:hover {
   opacity: 0.5;
   border-bottom: 1px solid #000000;
}

@media (max-width: 1199px) {
   .header {
      padding: 32.82px 0 70.76px;
   }
}

@media (max-width: 767px) {
   .header {
      padding: 31px 0 61px;
   }
   .logo {
      width: 96px;
      height: 16px;
   }
}