.reviews__inner {
   padding: 150px 0 157px;
}
.reviews__wrapper {
   display: flex;
   flex-wrap: wrap;
   gap: 79px 51px;
}
.review-box {
   width: 528px;
}
.review-box:nth-child(2n) {
   width: 505px;
}
.review-box:last-child {
   width: 861px;
}
.review-box__title {
   font-size: 45px;
   line-height: 61px;
   letter-spacing: -0.03em;
   margin-bottom: 14px;
}
.review-box__text {
   font-size: 22px;
   line-height: 30px;
   letter-spacing: -0.03em;
}

@media (max-width: 1199px) {
   .reviews__inner {
      padding: 117px 0 120px;
   }
   .reviews__wrapper {
      justify-content: space-between;
      gap: 50px 0;
   }
   .review-box {
      width: calc(50% - 5px);
   }
   .review-box:nth-child(2n) {
      width: calc(50% - 5px);
   }
   .review-box:last-child {
      width: 694px;
   }
   .review-box__title {
      font-size: 35px;
      line-height:48px;
      margin-bottom: 25px;
   }
   .review-box__text {
      font-size: 20px;
      line-height: 27px;
   }
}

@media (max-width: 767px) {
   .reviews__inner {
      padding: 80px 0;
   }
   .reviews h2 {
      margin-bottom: 22px;
   }
   .reviews__wrapper {
      flex-direction: row;
      gap: 76px 0;
   }
   .review-box, .review-box:nth-child(2n), .review-box:last-child {
      width: 100%;
   }
   .review-box__title {
      font-size: 25px;
      line-height: 34px;
      margin-bottom: 10px;
   }
   .review-box__text {
      font-size: 16px;
      line-height: 22px;
   }
}
