@import url(/styles/description.css);
@import url(/styles/about-us.css);
@import url(/styles/projects.css);
@import url(/styles/services.css);
@import url(/styles/reviews.css);
@import url(/styles/header.css);

html {
   scroll-behavior: smooth;
}
body {
   font-family: 'Manrope', sans-serif;
   font-weight: 400;
   letter-spacing: -0.03em;
   background-color: #fff;
}
.container {
   box-sizing: border-box;
   margin: 0 auto;
   width: 1150px;
}
@media (max-width: 1199px) {
   .container {
      width: 100%;
      margin: 0 auto;
      padding: 0 17px;
   }
}
@media (max-width: 767px) {
   .container {
      padding: 0 13px;
   }
}
