@import "./description.css";
@import "./about-us.css";
@import "./projects.css";
@import "./services.css";
@import "./reviews.css";
@import "./header.css";

html {
   scroll-behavior: smooth;
}
body {
   font-family: 'Manrope', sans-serif;
   font-weight: 400;
   letter-spacing: -0.03em;
   background-color: #fff;
}
.container {
   box-sizing: border-box;
   margin: 0 auto;
   width: 1150px;
}
.chapter {
   margin-bottom: 30px;
   font-size: 18px;
   line-height: 25px;
   letter-spacing: -0.03em;
}
@media (max-width: 1199px) {
   .container {
      width: 100%;
      margin: 0 auto;
      padding: 0 17px;
   }
}
@media (max-width: 767px) {
   .container {
      padding: 0 13px;
   }
   .chapter {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 19px;
   }
}
