@import url(../styles/header.css);
@import url(../styles/burger.css);
@import url(../styles/description.css);
@import url(../styles/about-us.css);
@import url(../styles/projects.css);
@import url(../styles/services.css);
@import url(../styles/popup.css);
@import url(../styles/reviews.css);
@import url(../styles/gallery.css);
@import url(../styles/contacts.css);
@import url(../styles/footer.css);

html {
   scroll-behavior: smooth;
}
body {
   font-family: 'Manrope', sans-serif;
   font-weight: 400;
   letter-spacing: -0.03em;
   background-color: #fff;
}
/* .body_fixed {
   overflow: hidden;
} */
.container {
   box-sizing: border-box;
   margin: 0 auto;
   width: 1150px;
}
.chapter {
   margin-bottom: 30px;
   font-size: 18px;
   line-height: 25px;
   letter-spacing: -0.03em;
}
@media (max-width: 1199px) {
   .container {
      width: 100%;
      margin: 0 auto;
      padding: 0 17px;
   }
}
@media (max-width: 767px) {
   .container {
      padding: 0 13px;
   }
   .chapter {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 19px;
   }
}
